.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  @include trs;
  transition-delay: 0.6s;
  &.scrolled {
    transform: translateY(-100%);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
}
