.BEM_sub-brands#subBrands
  .container
    .__row
      .__box-pic
        a.__pic-link(href='#')
        img.__pic(src='assets/images/under-brands-slider_1.jpg' alt='')
        .__pic-num -35%
        img.__pic-logo(src='assets/images/brand-logos/convers.svg' alt='' )
      .__tabs
        .__menu
          button.__menu-btn.on(type='button' tabs-menu='subBrandsTabContent1') категории
          button.__menu-btn(type='button' tabs-menu='subBrandsTabContent2') бренды
        .__tab-content.on#subBrandsTabContent1
          ul.__list
            li.__list-item.--title
              a.__list-link.--bright(href='#') Женское
            li.__list-item
              a.__list-link(href='#') Обувь 
            li.__list-item
              a.__list-link(href='#') Одежда
            li.__list-item
              a.__list-link(href='#') Аксессуары 
            li.__list-item
              a.__list-link(href='#') Доски
          ul.__list
            li.__list-item.--title
              a.__list-link.--bright(href='#') Мужское
            li.__list-item
              a.__list-link(href='#') Обувь 
            li.__list-item
              a.__list-link(href='#') Одежда
            li.__list-item
              a.__list-link(href='#') Аксессуары 
            li.__list-item
              a.__list-link(href='#') Доски
          ul.__list
            li.__list-item.--title
              a.__list-link.--bright(href='#') Детское
            li.__list-item
              a.__list-link(href='#') Обувь 
            li.__list-item
              a.__list-link(href='#') Одежда
            li.__list-item
              a.__list-link(href='#') Аксессуары 
          ul.__list
            li.__list-item.--title
              a.__list-link.--bright(href='#') Женское
            li.__list-item
              a.__list-link(href='#') Обувь 
            li.__list-item
              a.__list-link(href='#') Одежда
            li.__list-item
              a.__list-link(href='#') Аксессуары 
            li.__list-item
              a.__list-link(href='#') Доски
        .__tab-content#subBrandsTabContent2
          ul.__list
            li.__list-item.--title
              a.__list-link.--bright(href='#') Женское
            li.__list-item
              a.__list-link(href='#') Обувь 
            li.__list-item
              a.__list-link(href='#') Одежда
            li.__list-item
              a.__list-link(href='#') Аксессуары 
            li.__list-item
              a.__list-link(href='#') Доски

