$name: sub-brands;

.#{$name} {
  $this: &;

  margin: 0 0 150px 0;
  overflow: hidden;

  &__row {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    grid-template-columns: 31.5% 1fr;

    width: calc(100% - 260px);
    margin: 0 auto;
  }

  &__box-pic {
    position: relative;

    display: grid;

    height: 100%;
    padding: 30px;
    overflow: hidden;

    &:hover {
      #{$this}__pic {
        transform: scale(1.03);
      }
    }
  }

  &__pic {
    @include spread;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
    backface-visibility: hidden;
  }

  &__pic-link {
    @include spread;
    z-index: 10;
  }

  &__pic-num {
    position: relative;
    z-index: 2;

    font-weight: 500;
    font-size: 60px;
    line-height: 1;
    color: #ffffff;

    justify-self: end;
  }

  &__pic-logo {
    position: relative;
    align-self: end;
    z-index: 2;
  }

  &__tabs {
    background-color: $color;
    color: #ffffff;
    padding: 50px 85px;
  }

  &__menu-btn {
    @include btn-reset;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5;
    text-align: left;
    color: #fff;

    &.on,
    &:hover {
      opacity: 1;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 30px 60px;

    margin-bottom: 40px;
  }

  &__tab-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 30px 60px;

    // hide
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transform: translateX(-2%);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;

    &.on {
      opacity: 1;
      transform: translateX(0);
      position: relative;
      visibility: visible;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__list-link {
    color: rgba(#fff, 0.5);
    transition: color 0.2s ease-in-out;
  }

  &__list-item {
    color: rgba(#fff, 0.5);
    font-weight: 300;
    font-size: 17px;

    transition: color 0.2s ease-in-out;

    &:hover,
    &:focus {
      color: rgba(#fff, 1);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &--title {
      font-weight: 500;
      font-size: 20px;
      color: #fff;
      margin-bottom: 20px;
    }

    &--bright {
      color: #fff;
    }
  }

  // == media ==
  @media #{$laptop} {
    margin-bottom: 60px;

    &__tabs {
      padding: 50px 55px;
    }

    &__pic-num {
      font-size: 40px;
    }

    &__box-pic {
      padding: 20px;
    }

    &__tab-content {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      grid-gap: 30px;
    }

    &__menu {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      grid-gap: 30px;
      margin-bottom: 30px;
    }

    &__menu-btn {
      font-size: 15px;
      line-height: 18px;
    }

    &__list-item {
      font-size: 15px;

      &--title {
        font-size: 18px;
      }
    }
  }

  @media #{$tablet} {
    &__row {
      width: calc(100% - 90px);
      display: block;
    }

    &__box-pic {
      display: none;
    }
  }

  @media #{$mobile} {
    &__row {
      width: 100%;
    }

    &__tabs {
      padding: 60px 30px;
    }
  }
}
