.BEM_soc-list
  .__wrap
    a.__item(href='#')
      include ../../static/images/svg/inst.svg
    a.__item(href='#')
      include ../../static/images/svg/vk.svg
    a.__item(href='#')
      include ../../static/images/svg/youtube.svg
    a.__item(href='#')
      include ../../static/images/svg/fb.svg