section.bem_tabs#tabs
  .__menu
    button.__menu-btn.on(type='button' tabs-menu='tab1') tab 1
    button.__menu-btn(type='button' tabs-menu='tab2') tab 2
    button.__menu-btn(type='button' tabs-menu='tab3') tab 3
  .__content
    .__content-item.on#tab1
      .__desc tab content 1
    .__content-item#tab2
      .__desc tab content 2
    .__content-item#tab3
      .__desc tab content 3