// Font
$mainFF: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
$mainFC: #212529;
$mainFS: 18px;
$mainFW: 400;
$mainLH: 1.4;

// Size
$lg: 1600px;
$md: 1280px;
$sm: 768px;
$xs: 320px;

// Main color
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$dark: #343a40;
