.BEM_product-card
  a.__link(href='#')
  .__pic-box
    .__wrap-hashtag
      .__hashtag #СКИДКА
    img.__pic(src='assets/images/product-card/product-card_3.jpg' alt='')
    .__wrap-btns
      button.__btn.--like(type='button')
        include ../../static/images/svg/heart.svg
  .__txt-box
    .__title Cheap Monday
    .__desc
      .__desc-line Chuck Taylor
      .__desc-line Classic
      .__desc-line Ox Maroon
    .__price
      | 1 490₽
      .__price-old 2 500₽