include mixins

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1')

    block title
      title title

  body#app
    include ../components/header/header
    include ../components/main/main
    include ../components/footer/Footer

    //- modals
    include ../components/cart-modal/cart-modal
    include ../components/store-nav/store-nav
    include ../components/search-modal/search-modal
    include ../components/mob-menu-modal/mob-menu-modal