extends ../layout

block title
  title index

block content
  include ../../components/hero-slider/hero-slider
  include ../../components/brand-slider/brand-slider
  include ../../components/sub-brands/sub-brands
  include ../../components/offer-slider/offer-slider
  include ../../components/pride/pride
  include ../../components/about-slider/about-slider
  include ../../components/reviews-slider/reviews-slider