// == Rubik ==

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Light.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Italic.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Black.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-BoldItalic.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Bold.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-LightItalic.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-MediumItalic.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Medium.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Regular.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-BlackItalic.woff2') format('woff2'),
      url('../fonts/Rubik/Rubik-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

// == Roboto ==

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
