extends ../layout

block title
  title index

block content

  - const listOfPages = 
  -  {
  -   'main page': '/main.html', 
  -   'poop': '/poop.html',
  -};

  .container
    h1 list of pages
    ol
      each name, link in listOfPages
        li
          a(href=name)= link