extends ../layout

block title
  title index

block content

  - const listOfPages = 
  -  {
  -   'main page': '/main.html', 
  -   'ui': '/ui.html',
  - };

  .container
    h1 list of pages
    ol
      each link, name in listOfPages
        li
          a(href=link)= name