.hero-slider {
  $this: &;
  $counter-width: 210px;
  $arrow-width: 100px;
  $gap: 30px;

  position: relative;
  overflow: hidden;

  &__object {
    position: absolute;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translate(-30%) scale(1.2);
    pointer-events: none;

    transition: transform 0.6s ease-in-out 0.4s;
  }

  &__object-pic {
    @include spread;
    object-fit: cover;

    &--laptop,
    &--tablet,
    &--mob {
      display: none;
    }
  }

  &__arrows {
    position: absolute;
    bottom: 0;
    z-index: 10;
    left: calc(#{percentage(7/12)} - (#{$counter-width + $arrow-width + $gap}));
    display: flex;
  }

  &__arrow {
    @include btn-reset;
    width: $arrow-width;
    height: $arrow-width;
    position: relative;

    transition: background-color 0.6s ease-in-out 0.5s;

    &--left {
      background-color: $theme-color;

      &:hover {
        svg {
          transform: translate(-60%, -50%);
        }
      }
    }

    &--right {
      background-color: #272931;

      &:hover {
        svg {
          transform: translate(-40%, -50%);
        }
      }
    }

    svg,
    object {
      position: absolute;
      width: 30px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      stroke: #fff;
      stroke-width: 0.2rem;
      transition: transform 0.2s ease-in-out;
      stroke-linecap: round;
    }
  }

  &__counter {
    background-color: $color;
    color: #fff;
    width: 210px;
    position: relative;

    .glide__wrap-counter {
      @include abs-center;
    }

    .glide__counter-current {
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
    }

    .glide__counter-all {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      opacity: 0.4;
      margin-left: 2px;
      margin-bottom: -10px;
    }
  }

  &__item {
    position: relative;
  }

  &__item-inner {
    padding-top: 130px;
    padding-left: 130px;
  }

  &__btn-out {
    position: relative;
    z-index: 15;
  }

  &__num {
    color: rgba(#fff, 0.1);
    font-weight: bold;
    font-size: 700px;
    line-height: 500px;
    z-index: 5;

    position: absolute;
    left: -120px;
    bottom: -50px;

    // hide
    transition: transform 0.8s ease-in-out 0.9s, opacity 0.8s ease-in-out 0.9s;
    transform: translateX(4%);
    opacity: 0;
  }

  &__item-title {
    font-weight: 700;

    font-size: 100px;
    line-height: 0.8;

    color: #fff;
    text-transform: capitalize;
    margin: 0;
    width: 100%;

    z-index: 20;

    position: absolute;
    left: calc(-100% - 130px);
    top: 50%;
    transform: translateY(-50%);
  }

  &__item-box {
    display: flex;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    z-index: 5;
    margin: 100px auto 50px;
    position: relative;

    width: 100%;
    transform: translateX(calc(100% + 70px));
  }

  &__box-desc {
    position: relative;
    padding: 50px;
    z-index: 10;
    pointer-events: all;

    background-color: #d9a55f;

    &::before {
      content: "";
      display: block;
      position: absolute;
      $m: 400px;
      background-color: inherit;
      top: 0;
      bottom: 0;
      left: -$m;

      width: calc(100% + #{$m});
      height: 100%;
      z-index: -1;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: calc(100% - 100px);
      background: #eabe82;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      #{$this}__box-arrow {
        transform: translateX(7px);

        svg {
          stroke: rgba(#fff, 0.9);
        }
      }
    }

    // hide
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1s ease-in-out 0.3s;
  }

  &__box-txt {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    strong {
      font-weight: 500;
    }
  }

  &__box-link {
    @include spread;
  }

  &__box-arrow {
    position: absolute;
    bottom: 20px;
    right: 40px;
    z-index: 5;
    width: 30px;
    height: 20px;
    transition: transform 0.3s ease-in-out;
    pointer-events: none;

    svg {
      @include svg-icon;
      stroke: rgba(#fff, 0.4);
      stroke-width: 2px;
      transition: stroke 0.3s ease-in-out;
      stroke-linecap: round;
    }
  }

  &__soc-wrap {
    &:hover {
      #{$this}__soc-item {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__soc-list {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    margin-bottom: 50px;
  }

  &__soc-item {
    width: 25px;
    height: 25px;
    display: block;
    position: relative;
    transition: opacity 0.3s ease-in-out;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    svg {
      @include svg-icon;
      fill: #fff;
    }
  }

  &__slide {
    overflow: hidden;
    position: relative;
    height: 100vh;
    min-height: 600px;

    .container {
      height: 100%;
    }

    &--bg {
      &.on {
        #{$this}__slide-row {
          transform: translateX(0);
          opacity: 1;
        }

        #{$this}__num {
          transform: translateX(0);
          opacity: 1;
        }

        #{$this}__wrap-bg {
          transform: scale(1) translateX(0);
        }

        // #{$this}__slide-bg {
        //   transform: scale(1) translateX(0);
        // }
      }
    }
  }

  &__slide-row {
    padding: 0 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 5;

    // hide
    transition: transform 0.8s ease-in-out 0.5s, opacity 0.8s ease-in-out 0.5s;
    transform: translateX(-4%);
    opacity: 0;
  }

  &__slide-desc {
    margin-bottom: 80px;
    max-width: 560px;
    position: relative;
    padding-left: 30px;

    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
    color: #fff;

    &::before {
      @include pseudo;
      left: 0;
      height: calc(100% + 20px);

      top: 50%;
      transform: translateY(-50%);

      width: 10px;
      background-color: $theme-color;
    }
  }

  &__slide-title {
    font-weight: 700;
    font-size: 100px;
    line-height: 0.8;
    color: #fff;

    max-width: 890px;
    margin-bottom: 80px;
  }

  &__slide-bg {
    // @include spread;
    object-fit: cover;

    // transform: scale(1.3) translateX(5%);
    // transition: transform 1.1s ease-in-out;
  }

  &__wrap-bg {
    @include spread;

    transform: scale(1.3) translateX(5%);
    transition: transform 1.3s ease-in-out;
  }

  // == media ==

  @media #{$desktop} {
    &__item-title {
      font-size: 60px;
    }

    &__item-col--bg {
      .inner {
        padding-left: 200px;
      }
    }

    &__num {
      font-size: 370px;
      line-height: 1;
      left: -70px;
    }
  }

  @media #{$laptop} {
    $counter-width: 140px;
    $arrow-width: 80px;
    $gap: 30px;

    &__slide-title {
      font-size: 70px;
      margin-bottom: 50px;
    }

    &__slide-desc {
      font-size: 18px;

      &::before {
        width: 7px;
      }
    }

    &__item-title {
      left: calc(-100% - 50px);
    }

    &__box-desc {
      padding: 30px;

      &::after {
        height: calc(100% - 50px);
        width: 8px;
      }
    }

    &__box-txt {
      font-size: 15px;
      line-height: 1.5;
    }

    &__arrows {
      left: calc(#{percentage(8/12)} - 360px);
    }

    &__box-arrow {
      right: 20px;
      bottom: 15px;
    }

    &__item-box {
      margin: 30px auto;
      transform: translateX(calc(100% + 45px));
    }

    &__counter {
      width: $counter-width;
    }

    &__object-pic {
      &--laptop {
        display: block;
      }

      &--desktop {
        display: none;
      }
    }

    &__arrow {
      width: $arrow-width;
      height: $arrow-width;
    }
  }

  @media #{$tablet} {
    &__arrow {

      &:hover {
        svg {
          transform: translate(-50%, -50%);
        }
      }
    }
    &__item-box {
      transform: translateX(calc(100% + 30px));
    }

    &__slide {
      min-height: 700px;
    }

    &__soc-list,
    &__num {
      display: none;
    }

    &__slide-row {
      padding: 80px 0;
    }

    &__slide-title {
      font-size: 30px;
      margin-bottom: 50px;
    }

    &__slide-desc {
      font-weight: 300;
      padding-left: 25px;
      margin-bottom: 50px;

      &::before {
        width: 5px;
      }
    }

    &__slide-row {
      padding: 150px 0;
    }

    &__item-title {
      font-size: 30px;
      line-height: 25px;
      margin-bottom: 30px;
      font-weight: 500;
    }

    &__object-pic {
      &--tablet {
        display: block;
      }

      &--laptop {
        display: none;
      }
    }

    &__box-desc {
      margin-bottom: 30px;
      width: calc(100% + 120px);
      padding: 25px 100px 25px 25px;

      &::before {
        width: 100%;
        left: -50px;
      }

      &::after {
        width: 5px;
      }
    }

    &__item-box {
      display: block;
      transform: none;
      margin: 0;
    }

    &__item-title {
      transform: none;
      position: static;
    }

    &__box-arrow {
      display: none;
    }
  }

  @media #{$mobile} {
    &__arrows {
      left: calc(#{percentage(8/12)} - 260px + 80px);
    }

    &__box-desc {
      width: calc(100vw - 20px);
      padding: 25px 20px 25px 25px;
    }

    &__item-col {
      &--bg {
        width: calc(#{percentage(4/6)});

        .inner {
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 20px;
        }
      }
    }

    &__object-pic {
      &--tablet {
        display: none;
      }

      &--mob {
        display: block;
      }
    }

    &__counter {
      width: 100px;

      .glide {
        &__wrap-counter {
          display: flex;
        }

        &__counter-current {
          font-size: 20px;
          line-height: 20px;
        }

        &__counter-all {
          font-size: 15px;
          line-height: 15px;
          margin-left: 1px;
          transform: translateY(9px);
        }
      }
    }
  }
}
