.BEM_search-card
  a.__link(href='#')
  .__wrap-pic
    .__hashtag #СКИДКА
    img.__pic(src='assets/images/product-card/product-card_2.jpg' alt='')
  .__txt
    .__title(max-length='20')
      | Cheap Monday
    .__desc(max-length='19')
      | Core Blocked Full ZCore Blocked Full
    .__price
      .__price-old 2 500₽
      .__price-current 16 400₽