$name: footer;

.#{$name} {
  $this: &;
  grid-area: $name;

  width: 100%;
  min-height: 100px;
  background: $dark;

  // == media ==
  @media #{$laptop} {}

  @media #{$tablet} {}

  @media #{$mobile} {}
}