.button {
  cursor: pointer;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: max-content;

  &--danger {
    background-color: $danger;
    &:hover {
      background-color: lighten($danger, 5%);
    }
    &:active {
      background-color: darken($danger, 5%);
    }
  }
}
