// Font
$mainFF: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
sans-serif;
$mainFC: #212529;
$mainFS: 18px;
$mainFW: 400;
$mainLH: 1.4;

// media
$desktop: 'screen and (max-width:1599px)';
$laptop: 'screen and (max-width:1279px)';
$tablet: 'screen and (max-width:1024px)';
$mobile: 'screen and (max-width:767px)';

// Main color
$primary: #007bff;
$light: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$dark: #343a40;

// theme
$theme-color: $info;