@import "includes/normalize";
@import "variables";
@import "mixins";
@import "includes/fonts";
@import "includes/libs";
@import "../components/**/*.scss";

//default settings

* {
  box-sizing: border-box;

  &::selection {
    background-color: $theme-color;
    color: #ffffff;
  }
}

body {
  font-family: $font-family;
  line-height: $line-height;
  font-size: $font-size;
  color: $color;
  height: 100%;
}

.modal-opened {
  overflow: hidden;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 .5rem 0;
  line-height: 1.2;
}

.h1,
h1 {
  font-size: 2.5rem;
}

.h2,
h2 {
  font-size: 2rem;
}

.h3,
h3 {
  font-size: 1.75rem;
}

.h4,
h4 {
  font-size: 1.5rem;
}

.h5,
h5 {
  font-size: 1.25rem;
}

.h6,
h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.container {
  $p: 72px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  flex: 0 0 auto;
  max-width: 1440px;
  padding: 0 $p;

  // == media ==
  @media #{$laptop} {
  }

  @media #{$tablet} {
  }

  @media #{$mobile} {
  }
}
