section.BEM_pride
  .container
    .__row
      .__box
        a.__link(href='#')
        .__box-icon
          include ../../static/images/svg/t-short.svg
        .__box-desc Персональный подбор размеров
      .__box
        a.__link(href='#')
        .__box-icon
          include ../../static/images/svg/car.svg
        .__box-desc Бесплатная доставка от 4000₽
      .__box
        a.__link(href='#')
        .__box-icon
          include ../../static/images/svg/pointer.svg
        .__box-desc В самом сердце Санкт-Петербурга
      .__box
        a.__link(href='#')
        .__box-icon
          include ../../static/images/svg/pride.svg
        .__box-desc Только оригинальные бренды